#investment-strategies {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

#investment-strategies>#title {
    font-size: 40px;
    margin-top: 20px;
}

#investment-strategies>#sub-title {
    font-size: 25px !important;
    margin-top: 10px;
    margin-bottom: 20px !;
    font-style: italic;
}

.paragraphs>span {
    display: inline-block;
    font-size: large;
    margin-top: 30px;
    max-width: 1200px;
}

#investment-strategies>#investment-types {
    display: grid;
    grid-template-rows: 90px 90px;
    grid-template-columns: repeat(5, minmax(15rem, 1fr));
    align-items: center;
    justify-content: center;
    grid-auto-flow: row;
    margin-top: 50px;
}

#investment-types>span,
#investment-types>.peity {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 240px !important;
}

.peity {
    height: 100%;
    width: 100%;
}

/* Picture that is under the header. */
.top-picture {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(172, 148, 81, 0.58), rgba(0, 0, 0, 0.3)), url("../images/lighthouseCropped.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    background-size: cover;
    
}

/* Sets the formatting of the header on top of the image. */
#title {
    position: absolute;
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 30px;
}

/* Sets the formatting of the header on top of the image. */
#sub-title {
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    margin-top: 80px;
}