.peity {
    height: 100%;
    width: 100%;
}

#investment-strategies {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

#investment-strategies > #title {
    font-size: 40px;
    margin-top: 20px;
}

#investment-strategies > #sub-title {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
}

.paragraphs > span {
    display: inline-block;
    font-size: large;
    margin-top: 30px;
    max-width: 1200px;
}

#investment-strategies > .peity {
    margin-top: 40px;
}

#investment-strategies > #investment-types {
    display: grid;
    grid-template-rows: 90px 90px;
    grid-template-columns: repeat(5, minmax(15rem, 1fr));
    align-items: center;
    justify-content: center;
    grid-auto-flow: row;
    margin-top: 50px;
}

#investment-types > span, #investment-types > .peity {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 240px !important;
}

#investment-types > #types > span{
    margin-right: 10px;
    grid-row: 2;
}

#investment-types > .peity {
    grid-row: 1;
    width: 10px;
    height: 90px;
}

#investment-strategies > .paragraphs > span {
    display: inline-block;
    font-size: large;
    margin-top: 30px;
    max-width: 1200px;
}